[alias]
    ua = !git add --all && git commit --amend --no-edit
	cmp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	ac = "!f() { git add -A && git commit -m \"$@\"; }; f"
    cfeat = "!f() { git add -A && git commit -m \"feat: $@\"; }; f"
    cfix = "!f() { git add -A && git commit -m \"fix: $@\"; }; f"
    cchore = "!f() { git add -A && git commit -m \"chore: $@\"; }; f"
    cref = "!f() { git add -A && git commit -m \"refactor: $@\"; }; f"

[core]
	utocrlf = input  						          # Keep newlines as in input
	compression = 9 						          # Trade cpu for network
	trustctime = false 						          # Make `git rebase` safer on macOS
	precomposeunicode = false				          # Prevent non-ASCII symbols as unversioned
    preloadindex = true                               # Enable parallel index preload for operations
	untrackedCache = true					          # Speed up commands involving untracked files
	whitespace = error						          # Show incorrect whitespaces as errors
	excludesfile = /Users/justin/.gitignore-global

[advice]
    addEmptyPathspec = false
    pushNonFastForward = false
    statusHints = false

[diff]
    context = 3  							           # Less context in diffs
    renames = copies  						           # Detect copies as renames in diffs
    interHunkContext = 10  					           # Merge near hunks in diffs

[diff-so-fancy]
    markEmptyLines = false

[fetch]
    prune = true

[help]
    autocorrect = 1

[init]
    defaultBranch = main

[interactive]
    diffFilter = diff-so-fancy --patch
    singlekey = true

[log]
    abbrevCommit = true
    graphColors = blue,yellow,cyan,magenta,green,red

[push]
    autoSetupRemote = true  				            # Eliminates --set-upstream for new branches
    default = current  						            # Push only current branch by default
    followTags = true

[pull]
	rebase = true

[rebase]
    autoStash = true
    missingCommitsCheck = warn

[status]
    branch = true
    showStash = true
    showUntrackedFiles = all                            # Show individual untracked files

[submodule]
    fetchJobs = 16

# Colors
[color "blame"]
    highlightRecent = black bold,1 year ago,white,1 month ago,default,7 days ago,blue

[color "branch"]
    current  = magenta
    local    = default
    remote   = yellow
    upstream = green
    plain    = blue

[color "diff"]
    meta       = black bold
    frag       = magenta
    context    = white
    whitespace = yellow reverse

# URL shortcuts
[url "git@github.com:"]
    insteadOf = "gh:"
[url "git@github.com:jwtoler/"]
    insteadOf = "jwtoler:"
[url "git@github.com:clt-appdev/"]
    insteadOf = "uncc:"

# User configs
[includeIf "gitdir:~/.dotfiles/"]
    path = .gitconfig-personal
[includeIf "gitdir:~/Projects/personal/"]
    path = .gitconfig-personal
[includeIf "gitdir:~/Projects/work/"]
    path = .gitconfig-work

[include]
    path = ~/.gitconfig.local					             # Load local configs last to allow overrides
